/* HEADER */
header {
    background-color: rgb(1, 34, 54); 
    box-shadow: rgb(1, 34, 54) 0px 0.2rem 0.4rem;
    text-align: center;
    color: white;
    display: block;
    font-size: 22px;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

@media only screen and (min-width: 600px) {
    header {
        padding: 1rem;
    }
}

/* BODY */

body {
    background-color: rgb(12, 67, 98);
    margin: 0;
    font-family: Times;
    line-height: normal;
    /* line-height: 1.5; */
}

main {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    color: white;
    /* Need "min-height" so that footer would be in the bottom */
    min-height: 95vh;
}

.video_name_link {
    color: white;
}

.video_name_link:hover {
    color: hotpink;
}

#Video_name_cont{
    margin-top:8vh;
    text-align: left;
}

.text_cont_1 {
    margin-top: 15vh;
    margin-bottom: 5vh;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}

.text_big {
    font-size: 4vh;
}

.text_small {
    font-size: 3vh;
    text-align: left;
}

#particles-js { 
    /* Basic position was absolute */
    /* position:absolute;  */
    /* To make particles sticky - use "position: fixed" (instead of "position: sticky"!) */
    position: fixed;
    width: 100vw; 
    height: 100vh; 
    background-color: rgb(12, 67, 98);
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%;
    z-index: -1;
}

.section_heading {
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 5vh;
}

.section_number_of_comments {
    margin-top: 3vh;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    width:100%;
    text-align: justify;
}

.number_pink {
    color: hotpink;
}

.text_about_number {
    margin-top: 1.5vh;
    font-size: 18px;
}


.info_and_video {
    margin-top: 10vh;
}

.left_right_box {
    display: inline-block;
    width: 47% 
}

.left_box {
    width: 40%;
    vertical-align: top;
    margin-right: 5vw;
    margin-left: 3vw;
}



/* SEARCH BAR on index.html */
.s_form {
    margin: 0;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.search_bar {
    border-radius: 22px;
    border-width: 3px;
    padding: 8px 13% 8px 15px;
    font-size: 20px;
    line-height: 20px;
    background: #fff;
    border: 3px solid rgb(1, 34, 54);
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    outline: 0;
    margin: 0;
    opacity: 80%;
}

#buttonForSubmit {
    border-radius: 0 22px 22px 0;
    border-width: 3px;
    min-width: 50px;
    font-size: 20px;
    line-height: 20px;
    background-color: rgb(1, 34, 54);
    border: 0;
    color: white;
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    outline: 0;
}

#buttonForSubmit:hover {
    color: hotpink;
    background-color: #636363;
}

/* WAIT BLOCK on index.html */
#PlaceForError {
    font-size: 3vh;
    margin-top: 2vh;
    color: rgb(255, 140, 0);
    text-align: center;
}

.wait_container{
    margin: 0;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height:20vh;
}

.wrapper {
    right: 0;
}

/* TABLES on result.html */

table {
    /* background-color: rgb(180, 162, 232); */
    background-color: whitesmoke;
    /* color: rgb(180, 162, 232); */
    color:rgb(1, 34, 54);
    border: 0.5vw solid;
    /* border-spacing: 30px; */
    border-collapse: collapse;
}

tbody tr:nth-of-type(odd) {
    background: AliceBlue;
}

th, td {
    padding: 30px;
}

table thead {
    position: sticky;
    top: -1vw;
    background: rgb(1, 34, 54);
    /* border-top: 0.5vw solid rgb(1, 34, 54); */
}

th {
    color: white;
    font-size: 20px;
}

table tr {
    color:rgb(1, 34, 54);
    border-bottom: 3px solid rgb(1, 34, 54);
}

.topics_table {
    height: 100vh;
    overflow-y: scroll;
    border-radius: 10px;
}

.top_comments_table {
    height: 60vh;
    overflow-y: scroll;
    border-radius: 10px;
}

.td_centered {
    text-align: center;
}


/* FOOTER */
footer {
    height: 80px;
    width: 100%;
    background-color: rgb(1, 34, 54);
}
