
/* Move plot to the center */
.section_plot {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 93%;
    background-color: rgb(248, 240, 255);
    padding: 20px;
    border-radius: 10px;
}

.section_plot_for_bar_chart {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    /* height: 90vh;  */
    width: 77.3%;
    background-color: rgb(248, 240, 255);
    padding: 10px;
    border-radius: 10px;
}

/* Change position of plot */
/* .js-plotly-plot .plotly .user-select-none { */
    /* margin-left: 250px; */
/* } */

/* To hide legend on plot - but it still takes up space, so better do it with update_layout(legend_visible=False) */
/* .legend {
    display: none;
} */