{% extends "layout.html" %}

{% block zeroaddhead %}
    <!-- Add bootstrap styles - it is used for accordion block  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/howtouse.css') }}">
{% endblock %}


{% block particles %}
    <div id="particles-js"></div>
{% endblock %}

{% block main %}
    <div class="text_with_back">
        <div class="narrow_text">
            <p class="custom_heading">Understanding the result </p>
            <p>
                Let's see how we can get interesting findings from our comments analysis.<br>
                For demonstration we'll take this video: <br><a class="video_name_link_black" href="https://www.youtube.com/watch?v=tEeHv5NQtJo">How I see the US after living in Europe for 5 Years</a><br>
                <br>In this video the author describes her feelings about living in Europe compared to USA. Video topic itself is quite debatable theme, so let's see what people in comments think about it.
                We analyze 2000 comments, and receive 27 clusters (i.e. topics) of semantically close comments (i.e. clusters of comments where people discuss same things or express similar opinions).
                <br><br>So, to start with we can have a look at most popular topics found in comments for a given video. <b>Each topic name consists of the 5 most significant words for this cluster</b>, that is, words that are often found in comments in this cluster and probably rarely in other clusters:
            </p>
        </div>

        <div class="section_plot_for_bar_chart" id="bar_chart_white">
            <div>{{ bar_chart|safe }}</div>
        </div>
    </div>
    <div class="text_with_back">
        <div class="narrow_text">
            <p>
                We see that, as it would be logical to assume from the title even without watching the video, that first of all people in the comments discuss Europe (European etc) and the USA (American etc). But already the second cluster is of some interest - we see that topic #2 when comparing life in the USA and Europe is Freedom, Liberty, Rights. 
                Then there are several topics that are very vague (like topics #5 and #6, where people simply express gratitude for the video, and which is unlikely to be of interest to us in the future).
                <br><br>
                But also we see much more specific topics to discuss. So, topic #3 contains comments discussing the friendliness of people. Topic #8 is devoted to maternity leave, while #9 is about the healthcare system and insurance.
                <br><br>Thus, in this example, <b>we essentially got nothing less than a set of priority criteria or differences</b> by which people in the comments compare life in the USA and Europe.
            </p>
            <p class="custom_heading">Analyzing topics</p>
            <p>
                But let's go deeper and see our comments in a "map" of topics. This graph not only allows us to see all the topics identified by the algorithm, 
                but also to read each comment that fell into one cluster or another (gray color shows comments that could not be classified into any cluster). 
                We can also see how close certain topics are to each other. The control panel in the upper right part allows you to zoom in on different sectors of the graph, save it as an PNG, and the names of the topics on the legend allow you to view the selected cluster isolated:
            </p>
        </div>

    </div>
    
    <div class="section_plot" id="section_plot_white">
        <div>{{ fig|safe }}</div>
    </div>

    <div class="text_with_back" id="last_text">        
        <div class="narrow_text">
            <p>
                So here we can see a bunch of other topics that we could add to the "criteria list" above, for example topic about immigrants and the one about wealth.
                <br><br>If we zoom in and analyze the distances and location of the “comment clouds” on the graph relative to each other, we can see that a heated discussion about “freedom of speech” is naturally located next to the topic about freedom in general. While quite surprisingly the theme of “guns, fear, violence” is adjacent to “friendliness”:
            </p>
            <div>
                <img class="screenshot" src="{{url_for('static', filename='images/zoomed_topics_1.png')}}"/>
            </div>
            <p>
                <br><br>It may also be of interest and convenience, that it seems like topics focusing on tha USA (such as discussed above and "baseball, "biden", "constitution") tend to lie to the right of Y-axis, while those focusing on Europe - including Germany specifically and "languages, skills" - are more likely to be on the left side.
                <br><br>Of course, if any of the topics arouses your interest, then you can quickly get an idea of what opinion on this issue prevails among viewers by pointing to individual comments in the cluster (be prepared for some very surprising conclusions).
            </p>
            <p class="custom_heading">Conclusion</p>
            <p>
                In this example, we saw how, using this web service, you can quickly analyze comments under a single video and perhaps get some insights about which topics are most actively discussed without having to scroll through thousands of comments manually. Of course, not every video shows such interesting and lively discussions and polar opinions, so feel free to experiment!
                <br><br><br>
            </p>
        </div>
    </div>

    <div class="text_cont_1">
        <p class="text_big">FAQ</p>
    </div>
    
    <!-- Accordion block (https://getbootstrap.com/docs/5.3/components/accordion/) -->
    <div class="accordion" id="accordionExample">
    {% for block in faq: %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{block.number}}" aria-expanded="false" aria-controls="collapse{{block.number}}">
                {{block.name}}
                </button>
            </h2>
            <div id="collapse{{block.number}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {{block.text | safe }}   
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <!-- Script for buttons on accordion to work -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}